################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms/bin/Debug/netstandard2.0
/Algorithms/obj/Debug/netstandard2.0
/Algorithms/obj
/DataStructures/bin/Debug/netstandard2.0
/DataStructures/obj
/DsAlgo/.vs/DsAlgo
/DsAlgo/bin/Debug/netcoreapp3.1
/DsAlgo/obj/Debug/netcoreapp3.1
/DsAlgo/obj
