################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Algorithms/bin/Debug/netstandard2.0
/Algorithms/obj/Debug/netstandard2.0
/Algorithms/obj
/DataStructures/bin/Debug/netstandard2.0
/DataStructures/obj
/DataStructuresAndAlgorithms/bin/Debug/netcoreapp3.1
/DataStructuresAndAlgorithms/obj/Debug/netcoreapp3.1
/DataStructuresAndAlgorithms/obj
/DataStructuresAndAlgorithms/.vs/DataStructuresAndAlgorithms
